<div class="card shadow h-100 grow-5" [cTooltip]="tooltipContent">
  <img *ngIf="card.image" [src]="card.image" alt="logo" class="card-img-top bg-light bg-gradient px-2 pt-2">
  <div class="card-body d-flex flex-column bg-secondary bg-gradient">
    <h6 *ngIf="card.title" class="card-title text-center text-dark mb-0">{{card.title}}</h6>
    <hr *ngIf="card.title">
    <div *ngIf="card.description?.length && !card.tooltip" class="mb-3">
      <small class="card-text text-light d-block mb-1" *ngFor="let text of card.description">{{text}}</small>
    </div>
    <div *ngIf="card.link && card.btnText" class="mt-auto text-center">
      <a [routerLink]="card.link" class="btn btn-sm btn-dark rounded-pill shadow px-3 shadow">
        {{card.btnText}}
      </a>
    </div>
  </div>
</div>

<!-- tooltip shows description if engaged -->
<ng-template #tooltipContent>
  <ng-container *ngIf="card.tooltip; else empty">
    <small>{{tooltip}}</small>
  </ng-container>
  <ng-template #empty>
    részletekért<br>
    váltson<br>
    lista nézetre
  </ng-template>
</ng-template>