<div class="slidingBox fadeInDown mt-4">
  <div class="formContent shadow">

    <!-- Icon -->
    <div class="fadeIn first form_icon">
      <svg cIcon name="cilUserPlus" size="3xl"></svg>
    </div>

    <p class="fadeIn second">Kérem töltse ki az alábbi mezőket!</p>

    <!-- SignUp Form -->
    <form #signUpForm="ngForm" (ngSubmit)="trySignUp()">
      <input type="text" id="Last_NAME" class="fadeIn second" [(ngModel)]="signupData.lastName" name="lastName"
        placeholder="Vezetéknév" (focus)="onFocus()">
      <input type="text" id="First_NAME" class="fadeIn second" [(ngModel)]="signupData.firstName" name="firstName"
        placeholder="Keresztnév" (focus)="onFocus()">
      <input type="email" id="e-mail" class="fadeIn third" [(ngModel)]="signupData.email" name="email"
        placeholder="E-mail" (focus)="onFocus()">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="signupData.password" name="password"
        placeholder="Jelszó" (focus)="onFocus()">

      <!-- message if SignUp failed -->
      <div *ngIf="(signUpFailed$ | async)" class="text-center mt-2 mb-0 h5">
        Sikertelen regisztráció!
      </div>

      <input type="submit" id="submit" class="fadeIn fourth" value="Regisztráció" [disabled]="signUpForm.invalid">

    </form>

    <!-- link to login -->
    <div class="formFooter">
      <a class="underlineHover" routerLink="/login">
        Már van regisztrált fiókja?
      </a>
    </div>

  </div>
</div>