<div class="slidingBox fadeInDown mt-4">
  <div class="formContent shadow">

    <!-- Header -->
    <div class="fadeIn first form_icon">
      <svg cIcon name="cilUserPlus" size="3xl"></svg>
    </div>

    <p class="fadeIn second">Kérem töltse ki az alábbi mezőket!</p>

    <!-- SignUp Form -->
    <form #signUpForm="ngForm" (ngSubmit)="trySignUp()">
      <input type="text"
        [(ngModel)]="signupData.lastName"
        name="lastName"
        class="fadeIn second"
        placeholder="Vezetéknév"
        [pattern]="validator.name"
        id="Last_NAME"
        (focus)="onFocus()">
      <input type="text"
        [(ngModel)]="signupData.firstName"
        name="firstName"
        class="fadeIn second"
        placeholder="Keresztnév"
        [pattern]="validator.name"   
        id="First_NAME"
        (focus)="onFocus()">
      <input type="email"
        [(ngModel)]="signupData.email"
        name="email"
        class="fadeIn third"
        placeholder="E-mail"
        [pattern]="validator.email"  
        id="e-mail"
        (focus)="onFocus()">
      <input type="password"
        [(ngModel)]="signupData.password"
        name="password"
        class="fadeIn third"
        placeholder="Jelszó"
        [pattern]="validator.pwd"  
        id="password"
        (focus)="onFocus()">

      <!-- message if SignUp failed -->
      <div *ngIf="(signUpFailed$ | async)" class="text-center mt-2 mb-0 h5">
        Sikertelen regisztráció!
      </div>
      
      <!-- invalid form messages -->
      <div [hidden]="signUpForm.controls['firstName']?.valid || signUpForm.controls['firstName']?.pristine">
        A név min. 3 karakter hosszú legyen és nagybetűvel kezdődjön.
      </div>
      <div [hidden]="signUpForm.controls['lastName']?.valid || signUpForm.controls['lastName']?.pristine">
        A név min. 3 karakter hosszú legyen és nagybetűvel kezdődjön.
      </div>
      <div [hidden]="signUpForm.controls['email']?.valid || signUpForm.controls['email']?.pristine">
        Az e-mail cím min.: a@a.aa
      </div>
      <div [hidden]="signUpForm.controls['password']?.valid || signUpForm.controls['password']?.pristine">
        A jelszó legalább 3 karakter legyen.
      </div>

      <input type="submit"
        [disabled]="signUpForm.invalid"
        value="Regisztráció"
        class="fadeIn fourth"
        id="submit">

    </form>

    <!-- Footer -->
    <div class="formFooter">
      <a class="underlineHover" routerLink="/login">
        Már van regisztrált fiókja?
      </a>
    </div>

  </div>
</div>