<div class="slidingBox fadeInDown mt-5">
  <div class="formContent shadow">

    <!-- Header -->
    <div class="fadeIn first form_icon">
      <svg cIcon name="cilUser" size="3xl"></svg>
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="tryLogin()">
      <input type="email"
        [(ngModel)]="loginData.email"
        class="fadeIn second"
        name="email"
        id="e-mail"
        [pattern]="validator.email"
        placeholder="E-mail"
        (focus)="onFocus()">
      <input type="password"
        [(ngModel)]="loginData.password"
        id="password"
        class="fadeIn third"
        name="password"
        [pattern]="validator.pwd"
        placeholder="Jelszó"
        (focus)="onFocus()">

      <!-- message if login failed -->
      <div *ngIf="(loginFailed$ | async)" class="text-center mt-2 mb-0 h5">
        Sikertelen bejelentkezés!
      </div>

      <!-- invalid form messages -->
      <div [hidden]="loginForm.controls['email']?.valid || loginForm.controls['email']?.pristine">
        Az e-mail cím min.: a@a.aa
      </div>
      <div [hidden]="loginForm.controls['password']?.valid || loginForm.controls['password']?.pristine">
        A jelszó legalább 3 karakter legyen.
      </div>

      <input type="submit"
        [disabled]="loginForm.invalid"
        class="fadeIn fourth"
        value="BEJELENTKEZÉS"
        id="submit">
    </form>

    <!-- Footer -->
    <div class="formFooter">
      <a class="underlineHover" routerLink="/forgotten">
        Elfelejtette a jelszavát?
      </a>
    </div>

  </div>
</div>