* {
  box-sizing: border-box;
}

[class*="grow-"] {
  transition: all 0.2s ease;
}

.grow-10:hover {
  transform: scale(110%);
}

.grow-25:hover {
  transform: scale(130%);
}

.grow-50:hover {
  transform: scale(150%);
}

// td,
// th {
//   padding: 0.5rem;
// }

.shadow-deep {
  box-shadow: 0 0 2.5rem rgba(#000000, 50%);
}

.mb-7 {
  margin-bottom: 5rem;
}

.btn-danger-outline {
  color: #e55353;
}
.btn-primary-outline {
  color: #39f;
}
