<ng-container>
  <c-container [fluid]="true">

    <!-- sideBar toggler -->
    <button *ngIf="layout==='Admin'" (click)="changeSidebar()" toggle="visible" cHeaderToggler
      [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <!-- clock -->
    <div class="ms-2 my-auto badge rounded-pill bg-light shadow">
      <span class="h5 text-dark text-center p-3">{{chronometer}}</span>
    </div>

    <!-- nav links -->
    <c-header-nav class="d-flex ms-auto" role="navigation">
      <a cNavLink routerLink="/home" routerLinkActive="active" class="grow-10 fw-bolder">MesterEmber</a>
      <a cNavLink routerLink="/select" routerLinkActive="active" class="grow-10">Keresés</a>
      <a cNavLink routerLink="/signup" routerLinkActive="active" class="grow-10">Regisztráció</a>
    </c-header-nav>

    <!-- login/logout -->
    <c-header-nav class="flex-end me-2">
      <a routerLink="/login" cNavLink class="grow-10">
        <span *ngIf="(user$ | async); else sign_in">Kijelentkezés</span>
        <ng-template #sign_in>Bejelentkezés</ng-template>
      </a>
    </c-header-nav>

    <!-- dropDown toggler -->
    <c-header-nav *ngIf="user$ | async" class="flex-end me-2">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
</ng-container>



<!-- dropdown -->
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">

    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md"
        [src]="apiUrl+'avatar/'+user$?.value?.avatar" status="success">
      </c-avatar>
    </button>

    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Lehetőségek</h6>
      </li>
      <li *ngIf="user$?.value?.role===3">
        <a routerLink="/admin" cDropdownItem>
          <svg cIcon class="me-2" name="cil-speedometer"></svg>
          Vezérlőpult
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem [disabled]="true">
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Üzenetek
          <c-badge class="ms-2 float-end" color="success">
            42
          </c-badge>
        </a>
      </li>

      <li>
        <a routerLink="./" cDropdownItem [disabled]="true">
          <svg cIcon class="me-2" name='cilCommentSquare'></svg>
          Bejegyzések
          <c-badge class="ms-auto" color="warning">
            42
          </c-badge>
        </a>
      </li>

      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Egyebek</h6>
      </li>
      <li *ngIf="user$?.value?.role!==3">
        <a [routerLink]="['/profile',user$?.value?._id]" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profil
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem [disabled]="true">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Beállítások
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a routerLink="/login" cDropdownItem>
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Kijelentkezés
        </a>
      </li>

    </ul>
  </c-dropdown>
</ng-template>