// Here you can add other styles

$delete-button-color: $danger;
$edit-button-color: $info;

* {
  user-select: none;
  box-sizing: border-box;
}

.wrapper {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)),
    url("../assets/images/szerszamok.jpg");
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
}

[class*="grow-"] {
  transition: all 0.2s ease;
}

.grow- {
  &5:hover {
    transform: scale(105%);
  }

  &10:hover {
    transform: scale(110%);
  }

  &30:hover {
    transform: scale(130%);
  }

  &50:hover {
    transform: scale(150%);
  }
}

.mb-7 {
  margin-bottom: 5rem;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-8 {
  margin-top: 8rem;
}

.delete_btn {
  color: $delete-button-color;
  &:hover,
  &:active {
    color: $delete-button-color;
  }
}

.edit_btn {
  color: $edit-button-color;
  &:hover,
  &:active {
    color: $edit-button-color;
  }
}

.pointer {
  cursor: pointer;
  transition: all 0.35s ease;
  background-color: transparent;

  &:hover {
    background-color: $table-hover-bg;
  }
}

// .badge{
//   background-color: transparent !important;
// }
