<div class="custom-bg position-fixed start-0 vh-100 vw-100 bottom-3rem">
  <img class="col-10 position-absolute top-15 offset-1 animate-experts" src="../../../assets/images/group.png"
    alt="group of experts">

  <img class="col-6 position-absolute bottom-0 end-0 animate-girl" src="../../../assets/images/gondolkodik.png"
    alt="thinking">

  <div class="col-6 col-md-8 offset-1 position-absolute bottom-10 animate-text fst-italic">
    <div class="text-muted display-5 mb-3">Eltört, elromlott, cserélni kell...?</div>
    <div class="text-dark h4 fw-bold">Találjon az emberére nálunk !</div>
    <div class="text-muted display-5 mb-3 mt-4">MesterEmber?</div>
    <div class="text-dark h4 fw-bold">Regisztráljon és szerezzen megrendeléseket !</div>
  </div>

</div>