<div class="custom-bg position-fixed start-0 vh-100 vw-100 bottom-3rem">
  <img class="col-10 position-relative top-15 offset-1 animate-experts" src="../../../assets/images/group.png"
    alt="group of experts">

  <img class="col-6 position-absolute bottom-0 end-0 animate-girl" src="../../../assets/images/gondolkodik.png"
    alt="thinking">

  <div class="col-8 col-md-6 offset-2 offset-md-1 position-relative top-10 animate-text d-grid gap-3">
    <div class="text-muted display-5 fst-italic">Eltört, elromlott, cserélni kell...?</div>

    <div class="d-block">
      <div class="h4 fw-bold text-dark d-md-inline fst-italic">Találjon az emberére nálunk !</div>
      <a routerLink="/select"class="col-5 col-md-4 col-lg-3 btn btn-dark rounded-pill float-md-end d-md-inline mt-2 shadow grow-5">KERESÉS</a>
    </div>

    <div class="d-block">
      <div class="text-muted display-5 d-md-inline fst-italic">MesterEmber?</div>
      <a routerLink="/signup"
        class="col-5 col-md-4 col-lg-3 btn btn-secondary rounded-pill float-md-end d-md-inline mt-2 shadow grow-5">REGISZTRÁCIÓ</a>
    </div>
    <div class="h4 fw-bold text-dark fst-italic">Regisztráljon és szerezzen új megrendeléseket !</div>
  </div>

</div>