<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">

  <!-- brand logo -->
  <div class="sidebar-brand d-none d-md-flex">
    <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#full"></use>
    </svg>
    <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
      <use xlink:href="assets/brand/coreui.svg#signet"></use>
    </svg>
  </div>

  <!-- link list -->
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>

    <li *ngFor="let item of sidebar" class="nav-item">
      <a class="nav-link" [routerLink]="item.link">
        <!-- icon -->
        <!-- <svg class="nav-icon">
          <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer"></use>
        </svg> -->
        {{ item.title }}
        <!-- badge if needed-->
        <!-- <span class="badge badge-sm bg-info ms-auto">NEW</span> -->
      </a>
    </li>

  </ul>

  <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>

</div>