<div class="row mb-3 my-0">
  <div class="btn-group col-1" role="group">
    <input type="radio" class="btn-check"
      name="list" id="btn-list" autocomplete="off"
      [checked]="display==='list'"
      (change)="display='list'">
    <label class="btn btn-sm btn-outline-dark" for="btn-list"
      cTooltip="váltás lista nézetre">
      <svg cIcon name="cilList" [size]="toggleIconSize"></svg>
    </label>
    
    <input type="radio" class="btn-check"
      name="card" id="btn-card" autocomplete="off"
      [checked]="display==='card'"
      (change)="display='card'">
    <label class="btn btn-sm btn-outline-dark" for="btn-card"
      cTooltip="váltás kártya nézetre">
      <svg cIcon name="cilContact" [size]="toggleIconSize"></svg>      
    </label>
  </div>
</div>

<ng-container *ngIf="display==='list'">
  <base-table *ngIf="list$ | async as list"
    [tableName]="'expert'"
    [list]="list"
    [allowedButtons]="{ edit: false, delete: false, new: false }">
  </base-table>
</ng-container>

<app-card-table *ngIf="display==='card'"
  [cardList]="cardList"
  [listTitle]="listTitle"
  [triggers]="'hover'">
</app-card-table>