<div class="row">
  <div class="col-md-6 offset-md-3 mt-3">
    <div class="h3 text-muted ">{{ title }}</div>
    <form *ngIf="" #editorForm="ngForm" (ngSubmit)="onSubmit(editorForm)">
      
      <!-- <div *ngFor="let field of list; index as index" class="form-group mb-2">
        <label for="field-{{index}}">{{ field.title }}</label>
        <input class="form-control shadow" [(ngModel)]="field.key" [name]="field.key" [type]="field.type"
          [required]="field.required" [pattern]="field.validator" id="field-{{index}}">
      </div> -->

      <div class="btn-group mt-5 col-4 offset-4 border border-secondary rounded-pill shadow" role="group">
        <button type="submit" [disabled]="editorForm.invalid" class="btn edit_btn grow-30" cTooltip="Mentés">
          <svg cIcon name="cilSave" [size]="editorIconSize"></svg>
        </button>
        <div class="vr"></div>
        <button type="button" (click)="onCancel()" class="btn delete_btn grow-30" cTooltip="Mégsem">
          <svg cIcon name="cilReload" [size]="editorIconSize"></svg>
        </button>
      </div>

    </form>
  </div>
</div>
