<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
  <c-sidebar-brand [brandFull]="{
      src: 'assets/img/brand/expertSearch.svg',
      width: 65,
      height: 65,
      alt: 'expert Logo'
    }" [brandNarrow]="{
      src: 'assets/img/brand/x-logo-blue.svg',
      width: 65,
      height: 65,
      alt: 'X Logo'
    }" routerLink="./home">
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <c-sidebar-nav [navItems]="navItems">
    </c-sidebar-nav>
  </perfect-scrollbar>
  <c-sidebar-toggler (click)="changeWrapper()" *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>
</c-sidebar>
